<footer>
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-12">
                    <div class="coppyright">
                        <div>Copyright 2015 Burger King Corporation.All Rights Reserved.</div>
                        <div class="levinci-introduce">
                            <a href="#" class="levinci-link">Designed by Levinci Group</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-12">
                    <div class="footer-link">
                        <ul class="link"><a href="#">Giới Thiệu</a></ul>
                        <ul class="link"><a href="#">Hướng Dẫn</a></ul>
                        <ul class="link"><a href="#">Liên Hệ</a></ul>
                        <ul class="link"><a href="#">Giới Thiệu</a></ul>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-2 col-12">
                    <div class="footer-facebook">
                        <span>
                            <a href="https://www.instagram.com/?hl=vi" target="_black"><img src="img/toan-home/instagram-icon.png" alt="instagram"></a>
                        </span>
                        <span>
                            <a href="https://www.facebook.com/" target="_black"><img src="img/toan-home/icon-facebook.png" alt="facebook"></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="transition">
        <img src="img/toan-home/Burgerking-Delivery-Desktop.png" alt="transition">
    </div>

</footer>
    
     <!-- 19006960 van chuyen o footer -->

<script>
    // header scroll top
$('.scroll-top').click(function () {
$("html, body").animate({scrollTop: 0}, 600);
return false;
});



</script>