<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Khuyenmai</title>

    <link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/nsm.css"/>
    <link rel="stylesheet" type="text/css" href="css/nsm2.css"/>
    <link rel="stylesheet" type="text/css" href="css/nsm3.css"/>
</head>
<body>
<main class="page-main" >
    <section class="section">
        <div class="container container1">
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="menu">
                            <li><a href="#">Trang chủ</a></li>
                            <li style="color:black">/</li>
                            <li><a href="#">Khuyến mãi</a></li>
                            <li style="color:black">/</li>
                            <li>Combo Đề Kháng</li>
                        </ul>
                        <div class="thursday-content">
                            <h1 class="thursday-heading" style="font-size:20px">COMBO ĐỀ KHÁNG</h1>

                            <h5><strong>Giá chỉ từ 39,000 đ/người.</strong></h5>
                            <h5><strong>Điều Kiện Áp Dụng:</strong></h5>
                        <ul>
                            <li>Áp dụng mua tại chỗ, mang về hoặc đặt giao hàng tận nơi..</li>
                            <li>Không áp dụng giảm giá với các chương trình khuyến mãi khác.</li>
                            <li>Không áp dụng cho đơn hàng “Big Order” trên 1 triệu đồng.</li>
                        </ul>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <img class="img-responsive" src="img/nam/banner-promo-min.jpg"/>

                    </div>
                </div>
            </div>


            <h2 class="section-title-promotion text-center"> Đặt hàng ngay bây giờ  </h2>



            <div class="row">
                <div class="col-md-4">
                    <div class="image">
                        <a href="#">
                            <img class="img-responsive" src="img/nam/2pax-min.jpg"/>
                        </a>
                        <div class="product-title text-center">
                            <a href="#" >
                                Combo 2 người
                            </a>
                        </div>
                        <p class="product-desc text-center">Combo gồm: 1 Chicken’N Crisp Burger + 1 Cheese Burger + 2 Nestea</p>
                        <h3 class="product-price text-center">78.000&nbsp;VND</h3>
                        <h3 class="product-price product-old-price text-center">129.000&nbsp;VND </h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image">
                        <a href="#">
                            <img class="img-responsive" src="img/nam/3pax-min.jpg"/>
                        </a>
                        <div class="product-title text-center">
                            <a href="#" >
                                Combo 3 người
                            </a>
                        </div>
                        <p class="product-desc text-center">Combo gồm: 2 Whopper Jr + 1 Cheese Burger + 1 Fries M + 4pcs Chicken</p>
                        <h3 class="product-price text-center">165.000&nbsp;VND</h3>
                        <h3 class="product-price product-old-price text-center">259.000&nbsp;VND </h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image">
                        <a href="#">
                            <img class="img-responsive" src="img/nam/4pax-min_1.jpg"/>
                        </a>
                        <div class="product-title text-center">
                            <a href="#" >
                                Combo 4 người
                            </a>
                        </div>
                        <p class="product-desc text-center">Combo gồm: 2 Whopper Jr + 2 Grill Onion Burger + 2 Fries M</p>
                        <h3 class="product-price text-center">175.000&nbsp;VND</h3>
                        <h3 class="product-price product-old-price text-center">242.000&nbsp;VND </h3>
                    </div>
                </div>

            </div>




            </div>
        </div>
    </section>
</main>
</body>
</html>