<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="js/carousel2/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="js/carousel2/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/fontawesome/css/all.css">
    <link rel="stylesheet" type="text/css" href="css/hung-instruction.css">
    <link rel="stylesheet" type="text/css" href="css/toan-home.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:300,400,500,700,600">
</head>
<body>
<div class="header">
    <div class="container-fluid bg-header">
        <div class="container" id="fixcontainer">
            <div class="row">
                <div class="col-md-6 col-sm-7 col-7" style="display: flex;justify-content: space-between;">
                    <div class="js-toggle-menu hide">
                        <span></span>
                    </div>
                    <div class="logo">
                        <a href="home"><img src="img/toan-home/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-5 col-5" style="display: flex;justify-content: flex-end; ">
                    <ul class="nav-bar">
                        <li class="ext hide">
                            <i class="fas fa-times"></i>
                        </li>
                        <li class="promotion">
                            <div><a href="khuyen-mai">Khuyễn Mãi</a></div>
                        </li>
                        <li class="menu">
                            <div><a href="menu">Thực Đơn</a></div>
                        </li>
                        <li class="shop">
                            <div><a href="shop">Cửa Hàng</a></div>
                        </li>

                    </ul>
                    <div class="cart">
                        <div>
                            <span><i class="fas fa-shopping-cart"></i></span>
                            <span>Giỏ Hàng</span>
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- owl-stage- -->
    <div class="top-nav-carousel">
        <div class="container">
            <div class="owl-carousel owl-theme" id="slider-list">
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh1.png" alt="Mon moi">Món Mới</div>
                    </a></div>
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh2.jpg" alt="Burger">Burger</div>
                    </a></div>
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh3.jpg" alt="Combo">Combo</div>
                    </a></div>
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh4.jpg" alt="Gà Rán">Gà Rán</div>
                    </a></div>
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh5.png" alt="Cơm Vua">Cơm Vua</div>
                    </a></div>
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh6.png" alt="Món Ăn Kèm">Món Ăn Kèm</div>
                    </a></div>
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh7.jpg" alt="Thức Uống">Thức Uống</div>
                    </a></div>
            </div>
            <div class="scroll-top">
                <img src="img/toan-home/Top-icon.png" alt="scroll-top">
            </div>
        </div>
    </div>
</div>
<div class="container col1-layout" style="padding-top: 20%;padding-bottom: 10%" >
    <div class="col-main">
        <div class="std"><h1 class="page-title instruction-title"><span style="color: #c21c1e;">Hướng dẫn</span></h1>
            <div class="instruction-content">
                <hr>
            </div>
            <h2 class="sub-title"><span style="font-size: xx-large;">HƯỚNG DẪN ĐẶT HÀNG ONLINE</span></h2>
            <div class="instruction-page">
                <div class="row step-1">
                    <button class="step-btn step-1"> Step 1</button>
                    <div class="step-1-content col-xs-5 col-sm-5 col-lg-5 col-md-5"><span style="font-size: medium;"><strong>Tìm kiếm, lựa chọn phần ăn</strong></span> <br>Bạn vào trang chủ <a class="burger-url" href="https://demo.bk.levincidemo.com">Burgerking.vn</a>. Trên thanh Menu bạn chọn:<br> • THỰC ĐƠN hoặc nút <button type="button" class="btn btn-primary">Đặt Hàng</button> để xem thực đơn. (Tại đây bạn tìm kiếm, lựa chọn phần ăn theo ý thích của mình).<br>•&nbsp;KHUYẾN MÃI xem tất cả các chương trình khuyến mãi mới nhất tại&nbsp;<a class="burger-url" href="https://demo.bk.levincidemo.com">Burgerking.vn</a><br> <strong></strong></div>
                    <div class="image-step image-step-1 col-xs-5 col-sm-5 col-lg-5 col-md-5 product-collection-image"><img alt="" src="https://burgerking.vn/media/wysiwyg/step-1.png"></div>
                </div>
                <div class="row step-2">
                    <button class="step-btn step-2"> Step 2</button>
                    <div class="step-2-content col-xs-5 col-sm-5 col-lg-5 col-md-5">
                        <span style="font-size: medium;"><strong>Thay đổi, nâng cấp phần ăn</strong></span><br>
                        <div class="instruction-content">Sau khi tìm được phần ăn bạn muốn mua, bạn chọn nút&nbsp;<button class="skip-link skip-cart  no-count icon-custom" data-target-element="#header-cart"> <i class="fas fa-shopping-cart"></i> </button>&nbsp;xuất hiện bảng tùy chỉnh cho phần ăn bạn đã chọn:<br><br></div>
                        • Thay đổi thức uống.
                        <div class="instruction-content">• Nâng cấp.</div>
                        <div class="instruction-content">• Thay đổi phần ăn phụ.</div>
                        <div class="instruction-content"></div>
                        <div class="instruction-content">Khi hoàn tất việc thay đổi bạn chọn nút <button class="btn btn-cart btn-primary" onclick="productAddToCartForm.submit(this)" title="Thêm vào giỏ hàng" type="button"><span>Thêm vào giỏ </span></button> để thêm phần ăn vào giỏ hàng của bạn.<br><br></div>
                    </div>
                    <div class="image-step image-step-2 col-xs-5 col-sm-5 col-lg-5 col-md-5 product-collection-image"><img alt="" src="https://burgerking.vn/media/wysiwyg/step-2.png"></div>
                </div>
                <div class="row step-3">
                    <button class="step-btn step-3"> Step 3</button>
                    <div class="step-3-content col-xs-5 col-sm-5 col-lg-5 col-md-5">
                        <span style="font-size: medium;"><strong>Kiểm tra giỏ hàng, tiến hành thanh toán</strong></span><br><br>Trên thanh menu bạn click chuột vào biểu tượng <button class="skip-link skip-cart  no-count icon-custom" > <i class="fas fa-shopping-cart"></i> </button> và chọn nút <button type="button" class="btn btn-primary">Xem giỏ hàng</button>
                        <br>• Trong giỏ hàng bạn có thể <a class="btn btn-border-icon btn-edit" href="https://demo.bk.levincidemo.com/checkout/cart/configure/id/1860/" title="Sửa"> <em class="icons icon-edit"></em> <span>Sửa</span> </a> hoặc <a class="btn btn-border-icon remove" href="https://demo.bk.levincidemo.com/checkout/cart/ajaxDelete/id/1860/uenc/aHR0cHM6Ly9kZW1vLmJrLmxldmluY2lkZW1vLmNvbS9jaGVja291dC9jYXJ0L2FkZC91ZW5jL2FIUjBjSE02THk5a1pXMXZMbUpyTG14bGRtbHVZMmxrWlcxdkxtTnZiUzlqWVhSaGJHOW5MM0J5YjJSMVkzUXZkbWxsZHk5cFpDODNOek12Y3k5M2FHOXdjR1Z5TFdKaWNTMWlZV052YmkxamFHVmxjMlV2WTJGMFpXZHZjbmt2TXk4X1lXcGhlRDEwY25WbEptOXdkR2x2Ym5NOVkyRnlkQSwsL3Byb2R1Y3QvNzczL2Zvcm1fa2V5L0pxeEhJOFNZbEZEWUhWUTMv/" title="Xóa" data-confirm="Bạn có muốn xóa sản phẩm này khỏi giỏ hàng?"> <em class="icons icon-remove"></em> <span>Xóa</span> </a> phần ăn bạn đã chọn.
                        <div class="instruction-content">Khi hoàn tất việc kiểm tra tất cả các phần ăn bạn đã chọn, bạn bấm vào nút <button type="button" class="btn btn-primary">Thanh toán</button> để tiến hành thanh toán.<br> <strong></strong></div>
                    </div>
                    <div class="image-step image-step-3 col-xs-5 col-sm-5 col-lg-5 col-md-5 product-collection-image"><img alt="" src="https://burgerking.vn/media/wysiwyg/step-3.png"></div>
                </div>
                <div class="row step-4">
                    <button class="step-btn step-4"> Step 4</button>
                    <div class="image-step step-4-content col-xs-5 col-sm-5 col-lg-5 col-md-5"><strong><span style="font-size: medium;">Nhập thông tin giao hàng</span></strong><br> • Đăng nhập nếu bạn có tài khoản Burgerking (Bạn có thể đăng nhập bằng tài khoản Facebook, Google,...)<br>• Đăng kí tài khoản mới nếu bạn chưa là thành viên.<br> • Bạn có thể mua hàng nhanh không cần tài khoản bằng cách chọn "MUA HÀNG KHÔNG CẦN ĐĂNG KÍ".<br><br></div>
                    <div class="image-step image-step-4 col-xs-5 col-sm-5 col-lg-5 col-md-5 product-collection-image"><img alt="" src="https://burgerking.vn/media/wysiwyg/step-4.png"></div>
                </div>
                <div class="row step-5">
                    <button class="step-btn step-5"> Step 5</button>
                    <div class="step-5-content col-xs-5 col-sm-5 col-lg-5 col-md-5">
                        <span style="font-size: medium;"><strong>Chọn hình thức nhận hàng</strong></span>
                        <div class="instruction-content">• Giao hàng tận nơi.</div>
                        <div class="instruction-content">• Đến mang về.</div>
                        <div class="instruction-content">- Bạn vui lòng chọn nhà hàng gần nhất và thời gian bạn đến lấy sản phẩm mang về.</div>
                    </div>
                    <div class="image-step image-step-5 col-xs-5 col-sm-5 col-lg-5 col-md-5 product-collection-image"><img alt="" src="https://burgerking.vn/media/wysiwyg/Step-5-VN.png"></div>
                </div>
                <div class="row step-6">
                    <button class="step-btn step-6"> Step 6</button>
                    <div class="step-6-content col-xs-5 col-sm-5 col-lg-5 col-md-5">
                        <strong><span style="font-size: medium;">Kiểm tra và hoàn tất đơn hàng</span></strong>
                        <div class="instruction-content">• Bạn vui lòng kiểm tra lại thông tin đơn hàng của mình.</div>
                        <div class="instruction-content">• Nhập mã khuyến mãi (nếu có ).</div>
                        <div class="instruction-content">• Chọn nút <button type="button" class="btn btn-primary">Xác Nhận Đặt Hàng</button>để hoàn tất đơn hàng.</div>
                    </div>
                    <div class="image-step image-step-5 col-xs-5 col-sm-5 col-lg-5 col-md-5 product-collection-image"><img alt="" src="https://burgerking.vn/media/wysiwyg/step-6.png"></div>
                </div>
                <p class="last-mess"><span style="color: #ffffff;">Mọi thắc mắc vui lòng liên hệ: <span style="font-size: x-large;"><strong>1900 6960</strong></span></span></p>
            </div>
            <!-- / wrapper --></div>                </div>
</div>
<footer>
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-12">
                    <div class="coppyright">
                        <div>Copyright 2015 Burger King Corporation.All Rights Reserved.</div>
                        <div class="levinci-introduce">
                            <a href="#" class="levinci-link">Designed by Levinci Group</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-12">
                    <div class="footer-link">
                        <ul class="link"><a href="/about-us">Giới Thiệu</a></ul>
                        <ul class="link"><a href="/instruction">Hướng Dẫn</a></ul>
                        <ul class="link"><a href="/contact">Liên Hệ</a></ul>
                        <ul class="link"><a href="/recruit">Giới Thiệu</a></ul>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-2 col-12">
                    <div class="footer-facebook">
                            <span>
                                <a href="https://www.instagram.com/?hl=vi" target="_black"><img src="img/toan-home/instagram-icon.png" alt="instagram"></a>
                            </span>
                        <span>
                                <a href="https://www.facebook.com/" target="_black"><img src="img/toan-home/icon-facebook.png" alt="facebook"></a>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="transition">
        <img src="img/toan-home/Burgerking-Delivery-Desktop.png" alt="transition">
    </div>

</footer>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="js/jquery.js"></script>
<script src="js/carousel2/js/owl.carousel.min.js"></script>

<script>
    $('#slider-banner').owlCarousel({
        autoplay: true, // tự động chuyển slider
        loop: true,
        items: 1,
        nav: true, // hiện thị bật tắt nút next,back
        dots: true,
        lazyLoad: true,
        slideBy: 1,
        lazyLoadEager: 4,
        lazyLoad: true,
        autoHeight: true,
        autoplayTimeout: 15000,
        navText: [
            '<i class="fas fa-chevron-circle-left"></i>',
            '<i class="fas fa-chevron-circle-right"></i>'



        ] /// nút next,back

    });


    // header - slider

    $('#slider-list').owlCarousel({
        margin: 10,
        autoWidth: false,
        items: 9,
        loop: false,
        autoplay: false,
        autoplayTimeout: 5000,
        nav: true,
        dots: false,
        navText: [
            '<img src="img/toan-home/icon-arrow-left.png">',
            '<img src="img/toan-home/icon-arrow.png">',
        ],
        responsive: {
            320: {
                items: 2
            },
            // breakpoint from 480 up
            480: {
                items: 3
            },
            // breakpoint from 768 up
            768: {
                items: 5
            },
            // breakpoint from 1024 up
            1024: {
                items: 9
            }
        }
    });


</script>
<script>
    // header
    $('.scroll-top').click(function () {
        $("html, body").animate({scrollTop: 0}, 600);
        return false;
    });
    $(".js-toggle-menu").on("click",hien)
    function hien() {
        $(".promotion").addClass("active");
        $(".menu").addClass("active");
        $(".shop").addClass("active");
        $(".ext").removeClass("hide");
    }
    $(".ext").on("click",an)
    function an() {
        $(".promotion").removeClass("active");
        $(".menu").removeClass("active");
        $(".shop").removeClass("active");
        $(".ext").addClass("hide");
    }
    $(window).resize(function () {
        if ($(window).width()>=1090) {
            if ($(".shop").hasClass("active")) {
                $(".ext").addClass("hide");
            }
        }else{
            if ($(".shop").hasClass("active")) {
                $(".ext").removeClass("hide");
            }
        }
    })
</script>
</html>
