<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="js/carousel2/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="js/carousel2/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/fontawesome/css/all.css">
    <link rel="stylesheet" type="text/css" href="css/hung-contact.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:300,400,500,700,600">

    <!-- <link rel="stylesheet" type="text/css" href="https://burgerking.vn/skin/frontend/bk2/default/css/styles.css" media="all"> -->
</head>
<body>
<div class="header">
    <div class="container-fluid bg-header">
        <div class="container" id="fixcontainer">
            <div class="row">
                <div class="col-md-6 col-sm-7 col-7" style="display: flex;justify-content: space-between;">
                    <div class="js-toggle-menu hide">
                        <span></span>
                    </div>
                    <div class="logo">
                        <a href="home"><img src="img/toan-home/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-5 col-5" style="display: flex;justify-content: flex-end; ">
                    <ul class="nav-bar">
                        <li class="ext hide">
                            <i class="fas fa-times"></i>
                        </li>
                        <li class="promotion">
                            <div><a href="khuyen-mai">Khuyễn Mãi</a></div>
                        </li>
                        <li class="menu">
                            <div><a href="menu">Thực Đơn</a></div>
                        </li>
                        <li class="shop">
                            <div><a href="shop">Cửa Hàng</a></div>
                        </li>

                    </ul>
                    <div class="cart">
                        <div>
                            <span><i class="fas fa-shopping-cart"></i></span>
                            <span>Giỏ Hàng</span>
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- owl-stage- -->
    <div class="top-nav-carousel">
        <div class="container">
            <div class="owl-carousel owl-theme" id="slider-list">
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh1.png" alt="Mon moi">Món Mới</div>
                    </a></div>
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh2.jpg" alt="Burger">Burger</div>
                    </a></div>
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh3.jpg" alt="Combo">Combo</div>
                    </a></div>
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh4.jpg" alt="Gà Rán">Gà Rán</div>
                    </a></div>
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh5.png" alt="Cơm Vua">Cơm Vua</div>
                    </a></div>
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh6.png" alt="Món Ăn Kèm">Món Ăn Kèm</div>
                    </a></div>
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh7.jpg" alt="Thức Uống">Thức Uống</div>
                    </a></div>
            </div>
            <div class="scroll-top">
                <img src="img/toan-home/Top-icon.png" alt="scroll-top">
            </div>
        </div>
    </div>
</div>

<main >
    <div class="container col1-layout">
        <div class="row">
            <div class="col-12">
                <h1 class="about-title">Giới thiệu</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-12">
                <h1 class="content-title">Contact Info</h1>
                <div class="address">
                    <i class="fas fa-map-marker-alt"></i>
                    <b>address:</b>
                    <span>5th Floor, 91 Pasteur, Ward. Ben Nghe , District 1, Ho Chi Minh City</span>
                </div>
                <div class="phone">
                    <i class="fas fa-phone"></i>
                    <b>phone:</b>
                    <span>(+84 8) 3521 8845</span>
                </div>
                <div class="email1">
                    <i class="far fa-envelope"></i>
                    <b>Email:</b>
                    <span>marketing.info@burgerkingvn.vn</span>
                </div>
                <span style="margin-left: 100px; font-size: 14px;">an.nguyen@burgerkingvn.vn</span>
            </div>
            <div class="col-xl-6 col-12">
                <h1 class="content-title">Send us a message</h1>
                <form action="#" id="form">
                    <div class="field">
                        <label for="email" class="required">
                            Email
                        </label>
                        <div class="input-box">
                            <input class="input-text email " type="email" name="email" placeholder="Email">
                            <i class="fas fa-exclamation-circle"></i>
                            <i class="fas fa-check"></i>
                            <span class="request"></span>
                        </div>
                    </div>
                    <div class="field">
                        <label for="name" class="required">
                            Full Name
                        </label>
                        <div class="input-box">
                            <input class="input-text first-name" type="text" name="text" placeholder="Fullname">
                            <i class="fas fa-exclamation-circle" ></i>
                            <i class="fas fa-check"></i>
                            <span class="request"></span>
                        </div>
                    </div>
                    <div class="field">
                        <label for="comment" class="required">
                            Content
                        </label>
                        <div class="input-box">
                            <textarea class="input-text text" type="text" name="texts" placeholder="Content" cols="5" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 150px;"></textarea>
                            <span class="request"></span>
                        </div>
                    </div>
                    <button type="submit" title="submit" class="buttom">
                        <span>submit</span>
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div id="map"></div>
        </div>
    </div>

</main>
<footer>
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-12">
                    <div class="coppyright">
                        <div>Copyright 2015 Burger King Corporation.All Rights Reserved.</div>
                        <div class="levinci-introduce">
                            <a href="#" class="levinci-link">Designed by Levinci Group</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-12">
                    <div class="footer-link">
                        <ul class="link"><a href="/about-us">Giới Thiệu</a></ul>
                        <ul class="link"><a href="/instruction">Hướng Dẫn</a></ul>
                        <ul class="link"><a href="/contact">Liên Hệ</a></ul>
                        <ul class="link"><a href="/recruit">Tuyển Dụng</a></ul>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-2 col-12">
                    <div class="footer-facebook">
                            <span>
                                <a href="https://www.instagram.com/?hl=vi" target="_black"><img src="img/toan-home/instagram-icon.png" alt="instagram"></a>
                            </span>
                        <span>
                                <a href="https://www.facebook.com/" target="_black"><img src="img/toan-home/icon-facebook.png" alt="facebook"></a>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="transition">
        <img src="img/toan-home/Burgerking-Delivery-Desktop.png" alt="transition">
    </div>

</footer>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="js/jquery-3.5.1.min.js"></script>
<script src="js/carousel2/js/owl.carousel.min.js"></script>
<script>
    // header
    $('.scroll-top').click(function () {
        $("html, body").animate({scrollTop: 0}, 600);
        return false;
    });
    $(".js-toggle-menu").on("click",hien)
    function hien() {
        $(".promotion").addClass("active");
        $(".menu").addClass("active");
        $(".shop").addClass("active");
        $(".ext").removeClass("hide");
    }
    $(".ext").on("click",an)
    function an() {
        $(".promotion").removeClass("active");
        $(".menu").removeClass("active");
        $(".shop").removeClass("active");
        $(".ext").addClass("hide");
    }
    $(window).resize(function () {
        if ($(window).width()>=1090) {
            if ($(".shop").hasClass("active")) {
                $(".ext").addClass("hide");
            }
        }else{
            if ($(".shop").hasClass("active")) {
                $(".ext").removeClass("hide");
            }
        }
    })

    $('#slider-list').owlCarousel({
        margin: 10,
        autoWidth: false,
        items: 9,
        loop: false,
        autoplay: false,
        autoplayTimeout: 5000,
        nav: true,
        dots: false,
        navText: [
            '<img src="img/toan-home/icon-arrow-left.png">',
            '<img src="img/toan-home/icon-arrow.png">',
        ],
        responsive: {
            320: {
                items: 2
            },
            // breakpoint from 480 up
            480: {
                items: 3
            },
            // breakpoint from 768 up
            768: {
                items: 5
            },
            // breakpoint from 1024 up
            1024: {
                items: 9
            }
        }
    });
    // header scroll top
    $('.scroll-top').click(function () {
        $("html, body").animate({scrollTop: 0}, 600);
        return false;
    });


</script>
<script>
    var uluru = {lat: 21.0288, lng: 105.7795};
    var coord = navigator.geolocation.getCurrentPosition(getLocation);
    function getLocation(position) {
        uluru = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
        }
        initMap();
    }

    function initMap() {
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 24, center: uluru});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: uluru, map: map,
            label:"Đại học FPT Hà Nội"});
    }

</script>

<!-- email  -->
<script>

    var email = $(".email");
    var first_name = $(".first-name");
    var text = $(".text");
    var form = $("#form");
    var box = $(".input-box");

    form.submit(function (event) {
        event.preventDefault();
        checkInput();
    })
    function checkInput() {
        const emailValue = email.val().trim();
        const first_nameValue = first_name.val().trim();
        const formValue = text.val().trim();

        if (emailValue === "") {
            setErrorFor(email,"yêu cầu nhập email");
            console.log(emailValue)
        } else if (!isEmail(emailValue)) {
            setErrorFor(email, 'không phải là email');
        }else{
            setSuccessFor(email)
        }
        if (first_nameValue === "") {
            setErrorFor(first_name,"yêu cầu nhập first name");
        }else{
            setSuccessFor(first_name)
        }
        if (formValue === "") {
            setErrorFor(text,"yều cầu nhập văn bản");
        }else{
            setSuccessFor(text)
        }
    }
    function setErrorFor(input,massage) {
        const boxInput = input.parent();
        const span = boxInput.children("span");
        span.text(massage);
        boxInput.addClass("error");
        boxInput.removeClass("success");
    }
    function setSuccessFor(input) {
        debugger;
        const boxInput = input.parent();
        console.log(boxInput);
        const span = boxInput.children("span");
        console.log(span);
        boxInput.addClass("success");
        boxInput.removeClass("error");
        span.text("");

    }
    function isEmail(email) {
        return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email);
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaj0mHlR-keu-9hsR6d-gB0L9BclG04rk&callback=initMap">
</script>
</html>

