<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Giới Thiệu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="js/carousel2/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="js/carousel2/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/fontawesome/css/all.css">
    <link rel="stylesheet" type="text/css" href="css/hung-about-us.css">
    <link rel="stylesheet" type="text/css" href="css/toan-home.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:300,400,500,700,600">
</head>
<body>
<div class="header">
    <div class="container-fluid bg-header">
        <div class="container" id="fixcontainer">
            <div class="row">
                <div class="col-md-6 col-sm-7 col-7" style="display: flex;justify-content: space-between;">
                    <div class="js-toggle-menu hide">
                        <span></span>
                    </div>
                    <div class="logo">
                        <a href="home"><img src="img/toan-home/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-5 col-5" style="display: flex;justify-content: flex-end; ">
                    <ul class="nav-bar">
                        <li class="ext hide">
                            <i class="fas fa-times"></i>
                        </li>
                        <li class="promotion">
                            <div><a href="khuyen-mai">Khuyễn Mãi</a></div>
                        </li>
                        <li class="menu">
                            <div><a href="menu">Thực Đơn</a></div>
                        </li>
                        <li class="shop">
                            <div><a href="shop">Cửa Hàng</a></div>
                        </li>

                    </ul>
                    <div class="cart">
                        <div>
                            <span><i class="fas fa-shopping-cart"></i></span>
                            <span>Giỏ Hàng</span>
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- owl-stage- -->
    <div class="top-nav-carousel">
        <div class="container">
            <div class="owl-carousel owl-theme" id="slider-list">
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh1.png" alt="Mon moi">Món Mới</div>
                    </a></div>
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh2.jpg" alt="Burger">Burger</div>
                    </a></div>
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh3.jpg" alt="Combo">Combo</div>
                    </a></div>
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh4.jpg" alt="Gà Rán">Gà Rán</div>
                    </a></div>
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh5.png" alt="Cơm Vua">Cơm Vua</div>
                    </a></div>
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh6.png" alt="Món Ăn Kèm">Món Ăn Kèm</div>
                    </a></div>
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh7.jpg" alt="Thức Uống">Thức Uống</div>
                    </a></div>
            </div>
            <div class="scroll-top">
                <img src="img/toan-home/Top-icon.png" alt="scroll-top">
            </div>
        </div>
    </div>
</div>
<section  style="padding-top: 10%;padding-bottom: 10%">
    <div class="container">
        <div class="row" style="padding: 10px">
            <div class="col-12">
                <h1 class="about-us">giới thiệu</h1>
            </div>
            <div class="col-12">
                    <div class="content">
                        <h2 class="about-title">Giới thiệu BURGER KING®</h2>

                        <p> Được thành lập vào năm 1954, BURGER KING® hiện là chuỗi nhà hàng thức ăn nhanh lớn nhất thế giới.
                            Mỗi ngày, có hơn 11 triệu thực khách đến với các nhà hàng BURGER KING® trên khắp thế giới để thưởng
                            thức các món ăn chất lượng cao, hương vị tuyệt hảo và giá cả phải chăng.</p>

                        <p>Dù ở đâu, BURGER KING® cũng luôn giữ đúng tinh thần Taste is King, làm hài lòng khẩu vị của thực khách
                            khó tính nhất khi đến thưởng thức tại nhà hàng. Các cửa hàng của BURGER KING® cũng sẽ giữ vững phương
                            châm phục vụ của BURGER KING® “những bữa ăn thân thiện với gia đình”, thể hiện qua đội ngũ nhân viên
                            phục vụ được đào tạo chuyên nghiệp, nhanh chóng và thân thiện, không gian thoải mái, thiết kế nội thất
                            hiện đại, những món ăn tươi ngon và nóng sốt, thức uống mát lạnh và an toàn vệ sinh tuyệt đối.</p>

                        <p>Phương châm của BURGER KING® là bất cứ ở đâu, vào thời điểm nào, chúng tôi đều phục vụ những chiếc
                            bánh WHOPPER® ngon nhất thế giới cho đông đảo khách hàng sành điệu.</p>
                    </div>
                     <div class="content">
                    <h2 class="about-title">Lịch sử BURGER KING®</h2>
                    <p> Tiền thân của BURGER KING® là Insta-Burger King, do Matthew Burns và Keith J. Kramer thành lập tại
                        Florida, Mỹ vào năm 1953. Cách thức nấu ăn với chiếc vỉ Insta-Broiler cho ra những viên thịt có
                        hương vị tuyệt hảo.</p>

                    <p>Năm 1954, David Edgerton và James McLamore mua lại chuỗi cửa hàng Insta- Burger King, đổi tên thành
                        Burger King of Miami và sau đó là Tập đoàn Burger King. Họ vẫn dùng cách nướng lửa, nhưng thay chiếc
                        vỉ Insta-Broiler bằng vỉ nướng lửa Flame-Broiler – tức là chiếc vỉ nướng ga được cơ giới hóa.</p>

                    <p>BURGER KING® hiện là chuỗi nhà hàng thức ăn nhanh lớn nhất thế giới. Mỗi ngày, có hơn 11 triệu thực
                        khách đến với các nhà hàng BURGER KING® trên khắp thế giới để thưởng thức các món ăn chất lượng cao,
                        hương vị tuyệt hảo và giá cả phải chăng.</p>
                     </div>
                    <div class="content">
                    <h2 class="about-title">Giới thiệu BKV</h2>
                    <p> BURGER KING® đã chọn Công ty TNHH DV Thực phẩm và Giải khát Cánh Diều Xanh (BKV) (thuộc Tập đoàn
                        Imexpan Pacific) làm đối tác kinh doanh nhượng quyền chính thức tại VN. Nhiều năm qua, Cánh Diều
                        Xanh và BURGER KING®đã phát triển mạng lưới phân phối, nhà cung ứng vững chắc. Đồng thời huấn luyện
                        họ các tiêu chuẩn nghiêm ngặt về chất lượng, an toàn vệ sinh thực phẩm. Nhân sự làm việc tại nhà hàng
                        BURGER KING® phải qua khóa huấn luyện các cửa hàng BURGER KING® tại Mỹ và khu vực Đông Nam Á. Sau đó,
                        phải đạt được giấy chứng nhận đào tạo loại ưu trở lên.</p>

                    <p>Tin rằng với chiến lược dài hạn đúng đắn, tư duy kinh doanh nhạy bén, Cánh Diều Xanh có thể góp sức
                        vào nhiều lĩnh vực như đào tạo, phát triển nhân sự, tìm địa điểm chiến lược, tiếp thị… Ngược lại,
                        BURGER KING® sẽ hỗ trợ về chuyên môn, phát triển cơ cấu tổ chức và hệ thống điều hành. Cánh Diều Xanh
                        sẽ đầu tư vốn dự kiến cho hoạt động kinh doanh của BURGER KING® tại Việt Nam dự kiến khoảng 40 triệu
                        USD và sẽ tăng hơn nữa nếu tìm được nhiều mặt bằng chiến lược</p>
                    </div>
                    </div>
        </div>
    </div>

</section>
<footer>
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-12">
                    <div class="coppyright">
                        <div>Copyright 2015 Burger King Corporation.All Rights Reserved.</div>
                        <div class="levinci-introduce">
                            <a href="#" class="levinci-link">Designed by Levinci Group</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-12">
                    <div class="footer-link">
                        <ul class="link"><a href="/about-us">Giới Thiệu</a></ul>
                        <ul class="link"><a href="/instruction">Hướng Dẫn</a></ul>
                        <ul class="link"><a href="/contact">Liên Hệ</a></ul>
                        <ul class="link"><a href="/recruit">Tuyển Dụng</a></ul>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-2 col-12">
                    <div class="footer-facebook">
                            <span>
                                <a href="https://www.instagram.com/?hl=vi" target="_black"><img src="img/toan-home/instagram-icon.png" alt="instagram"></a>
                            </span>
                        <span>
                                <a href="https://www.facebook.com/" target="_black"><img src="img/toan-home/icon-facebook.png" alt="facebook"></a>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="transition">
        <img src="img/toan-home/Burgerking-Delivery-Desktop.png" alt="transition">
    </div>

</footer>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="js/jquery.js"></script>
<script src="js/carousel2/js/owl.carousel.min.js"></script>
<script>
    $('#slider-banner').owlCarousel({
        autoplay: true, // tự động chuyển slider
        loop: true,
        items: 1,
        nav: true, // hiện thị bật tắt nút next,back
        dots: true,
        lazyLoad: true,
        slideBy: 1,
        lazyLoadEager: 4,
        lazyLoad: true,
        autoHeight: true,
        autoplayTimeout: 15000,
        navText: [
            '<i class="fas fa-chevron-circle-left"></i>',
            '<i class="fas fa-chevron-circle-right"></i>'



        ] /// nút next,back

    });


    // header - slider

    $('#slider-list').owlCarousel({
        margin: 10,
        autoWidth: false,
        items: 9,
        loop: false,
        autoplay: false,
        autoplayTimeout: 5000,
        nav: true,
        dots: false,
        navText: [
            '<img src="img/toan-home/icon-arrow-left.png">',
            '<img src="img/toan-home/icon-arrow.png">',
        ],
        responsive: {
            320: {
                items: 2
            },
            // breakpoint from 480 up
            480: {
                items: 3
            },
            // breakpoint from 768 up
            768: {
                items: 5
            },
            // breakpoint from 1024 up
            1024: {
                items: 9
            }
        }
    });


</script>
<script>
    // header
    $('.scroll-top').click(function () {
        $("html, body").animate({scrollTop: 0}, 600);
        return false;
    });
    $(".js-toggle-menu").on("click",hien)
    function hien() {
        $(".promotion").addClass("active");
        $(".menu").addClass("active");
        $(".shop").addClass("active");
        $(".ext").removeClass("hide");
    }
    $(".ext").on("click",an)
    function an() {
        $(".promotion").removeClass("active");
        $(".menu").removeClass("active");
        $(".shop").removeClass("active");
        $(".ext").addClass("hide");
    }
    $(window).resize(function () {
        if ($(window).width()>=1090) {
            if ($(".shop").hasClass("active")) {
                $(".ext").addClass("hide");
            }
        }else{
            if ($(".shop").hasClass("active")) {
                $(".ext").removeClass("hide");
            }
        }
    })
</script>
</html>
