<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="js/carousel2/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="js/carousel2/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/fontawesome/css/all.css">
    <link rel="stylesheet" type="text/css" href="css/hung-recruit.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:300,400,500,700,600">
</head>
<body>
<div class="header">
    <div class="container-fluid bg-header">
        <div class="container" id="fixcontainer">
            <div class="row">
                <div class="col-md-6 col-sm-7 col-7" style="display: flex;justify-content: space-between;">
                    <div class="js-toggle-menu hide">
                        <span></span>
                    </div>
                    <div class="logo">
                        <a href="home"><img src="img/toan-home/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-5 col-5" style="display: flex;justify-content: flex-end; ">
                    <ul class="nav-bar">
                        <li class="ext hide">
                            <i class="fas fa-times"></i>
                        </li>
                        <li class="promotion">
                            <div><a href="khuyen-mai">Khuyễn Mãi</a></div>
                        </li>
                        <li class="menu">
                            <div><a href="menu">Thực Đơn</a></div>
                        </li>
                        <li class="shop">
                            <div><a href="shop">Cửa Hàng</a></div>
                        </li>

                    </ul>
                    <div class="cart">
                        <div>
                            <span><i class="fas fa-shopping-cart"></i></span>
                            <span>Giỏ Hàng</span>
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- owl-stage- -->
    <div class="top-nav-carousel">
        <div class="container">
            <div class="owl-carousel owl-theme" id="slider-list">
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh1.png" alt="Mon moi">Món Mới</div>
                    </a></div>
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh2.jpg" alt="Burger">Burger</div>
                    </a></div>
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh3.jpg" alt="Combo">Combo</div>
                    </a></div>
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh4.jpg" alt="Gà Rán">Gà Rán</div>
                    </a></div>
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh5.png" alt="Cơm Vua">Cơm Vua</div>
                    </a></div>
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh6.png" alt="Món Ăn Kèm">Món Ăn Kèm</div>
                    </a></div>
                <div class="item"><a href="menu" class="owl-stage-item">
                        <div><img src="img/toan-home/anh7.jpg" alt="Thức Uống">Thức Uống</div>
                    </a></div>
            </div>
            <div class="scroll-top">
                <img src="img/toan-home/Top-icon.png" alt="scroll-top">
            </div>
        </div>
    </div>
</div>
    <main>
        <div class="container">
            <div class="col-main">
                <p></p>
                <p></p>
                <div class="img">
                    <img src="img/BK_whopper_uniform.jpg">
                    <p></p>
                </div>
                <div class="content">
                    <div class="strong-title">
                        <p>
                            <strong>1.</strong>
                            <span class="recuit-title">Vị trí tuyển dụng:</span>
                        </p>
                        <ul>
                            <li>Part-time: 4 - 6 tiếng/ngày (ca xoay)</li>
                            <li>Full-time: 8 tiếng/ngày (ca xoay)</li>
                        </ul>
                        <p><b>- Nhân Viên Phục Vụ - Giao Hàng.</b></p>
                        <p><b>- Quản Lý/ Trợ lý Quản Lý/ Giám Sát Nhà Hàng.</b></p>
                    </div>
                    <div class="strong-title">
                        <p>
                            <strong>2.</strong>
                            <span class="recuit-title">Địa điểm làm việc: </span>
                        </p>
                        <p>Các nhà hàng trong hệ thống chuỗi nhà hàng <span><b>Burger King Phú Quốc - Hồ Chí Minh - Hà Nội</b></span></p>
                        <p>
                            <span class="recuit-title">BURGER KING TP.HỒ CHÍ MINH - TP.HÀ NỘI</span>
                            <span style="background-color: #ffff00" ><b>(Tuyển dụng số lượng lớn)</b></span>
                        </p>
                        <p><b> - Ưu tiên ca đêm làm việc tại khu vực TP.HCM - Quận 1, đến 3 giờ sáng.</b></p>
                        <p>
                            <span class="recuit-title">BURGER KING VINPEARL LAND PHÚ QUỐC</span>
                            <span style="background-color: #ffff00"><b>(Tuyển dụng số lượng lớn)</b></span>
                        </p>
                        <p><b>- Thời hian làm việc Burger King Phú Quốc: trong giờ hành chính (8g - 20g hàng ngày).</b></p>
                        <div class="strong-title">
                        <p>
                            <strong>3.</strong>
                            <span class="recuit-title">Yêu cầu chung:</span>
                            <p>
                            - Độ tuổi: từ đủ 18 tuổi đến 45 tuổi ( đã tốt nghiệp PTTH) <br>
                            - Yêu thích làm việc trong lĩnh vực nhà hàng, yêu thích chế biến món ăn, sẵn sàng học hỏi và luân chuyển bộ phận làm việc để phát triển kỹ năng.
                            <br>
                            - Nhanh nhẹn, nhiệt tình, đam mê công việc, sức khỏe tốt. <br>
                            </p>
                        </p>
                            <p>
                                <b><u><i>1. Nhân Viên Phục Vụ - Giao Hàng: </i></u></b> <br>
                                Trình độ: tốt nghiệp PTTH, từ đủ 18 tuổi trở lên. <br>
                                Ưu tiên các bạn nam, có thể đi giao hàng và làm được đến 2h sáng. <br>
                                Khả năng giao tiếp Anh văn cơ bản. <br>
                            </p>
                            <p>
                                <b><u><i>2. Quản Lý/ Trợ Lý Quản Lý/ Giám Sát Nhà Hàng:</i></u></b> <br>
                                Trình độ học vấn tối thiểu: tốt nghiệp Cao đẳng / Đại học. <br>
                                Kinh nghiệm: ít nhất có 3-5 năm kinh nghiệm trong ngành quản lý (ưu tiên các ứng viên đã từng làm việc trong ngành F & B, có kiến thức làm việc trong môi trường nhà hàng / dịch vụ…)
                                <br>
                                Kỹ năng quản lý tốt, học hỏi nhanh. <br>
                                Khả năng giao tiếp anh văn cơ bản. <br>
                            </p>
                            <p>
                                <strong>4.</strong>
                                <span class="recuit-title">Chế độ</span>
                            </p>
                            <p>
                                - Ca làm việc linh động theo lịch học (part time: 4-6h/ngày, full time: 8h/ngày) <br>
                                - Làm việc trong môi trường trẻ trung, năng động. <br>
                                - Cơ hội thăng tiến rõ ràng: Trưởng Nhóm/ Giiám Sát/ Trợ Lý/ Quản Lý Nhà Hàng. <br>
                                - Được đào tạo, tập huấn thường xuyên về sản phẩm, nghiệp vụ & các kỹ năng (bán hàng, giao tiếp khách hàng…)<br>
                                - Trợ cấp giao hàng. <br>
                                - Thưởng doanh số tổ chức tiệc. <br>
                                - Thưởng các dịp lễ, Tết. <br>
                            </p>
                            <p><b>MỨC LƯƠNG không chê vào đâu được:</b></p>
                            <p><b>Part-time (Thời vụ): 21.000đ/h – 24.000đ/h</b></p>
                            <p><b>Fulltime (Hợp đồng): 5.500.000đ/tháng (tùy mức độ level mức lương sẽ có điều chỉnh)</b></p>
                            <p><b>Giao hàng 14,000 đồng/ chuyến</b></p>
                            <p><b>Hỗ trợ nhân thêm 30% lương cho ca đêm sau 22h tối.</b></p>
                            <p>*Riêng khu vực Phú Quốc sẽ có hỗ trợ phương tiện đưa đón khi làm việc.</p>
                            <p>
                                <strong>5.</strong>
                                <span class="recuit-title">Phương thức ứng tuyển:</span>
                            </p>
                            <p style="color: #ff0000; font-size: medium;"><b><i>1. Dành cho vị trí - Nhân viên phục vụ:</i></b></p>
                            <p><b><u>❤️Khu vực Phú Quốc ❤️:</u></b> <br>
                                ➡️ Liên hệ Phòng Nhân Sự (08) 3824 2687 (ext: 130) <br>
                                ➡️ Nộp hồ sơ cho nhà tớ qua đường link: <a href="https://bit.ly/APPLY-IPPGFB">https://bit.ly/APPLY-IPPGFB</a> <br>
                                <span style="background-color: #ffff00">➡️ Phỏng vấn trực tiếp qua điện thoại.</span>
                            </p>
                            <p><b><u>❤️Khu vực Hồ Chí Minh ❤️:</u></b> <br>
                                ➡️ Liên hệ Phòng Nhân Sự (08) 3824 2687 (ext: 130) <br>
                                ➡️ Nộp hồ sơ cho nhà tớ qua đường link: <a href="https://bit.ly/APPLY-IPPGFB">https://bit.ly/APPLY-IPPGFB</a> <br>
                                ➡️ Nộp trực tiếp đến cửa hàng bạn mong muốn làmviệc: <a href="https://burgerking.vn/storepickup" data-lynx-mode="asynclazy" data-lynx-uri="https://l.facebook.com/l.php?u=https%3A%2F%2Fpopeyes.vn%2Fstore.html%2F%3Ffbclid%3DIwAR0wmFxPU5B9hGz7m6r7LR-xmcSiAwiySKf81dPUlFnxZNy4VN4kC6RNSAg&amp;h=AT3srmv71m9TkevhuH9OgkCYPjuOY1Ww7K0fhV9VVUwhhuUPIgYvOyxCyq0KAf8OpQ1oiEh1eKgyw9AsManZmvANWB9HweY-kdP5-advbUinJUtnk8wXyXwxAMEzjtLGVzSNRSZm">https://burgerking.vn/storepickup</a><br>
                                ➡️ Nộp hồ sơ tại Công Ty: Lầu 11, Tòa Nhà Sonatus  – số 15 Lê Thánh Tôn, P. Bến Nghé, Quận 1 (từ 08h30 đến 17h30 hàng ngày từ Thứ 2 – Thứ 6 (trừ thứ bảy & chủ nhật)
                            </p>
                            <p><b><u>❤️Khu vực Hà Nội ❤️:</u></b> <br>
                                ➡️ Liên hệ Phòng Nhân Sự (08) 3824 2687 (ext: 130) <br>
                                ➡️ Nộp hồ sơ cho nhà tớ qua đường link: <a href="https://bit.ly/APPLY-IPPGFB">https://bit.ly/APPLY-IPPGFB</a> <br>
                                ➡️ Nộp trực tiếp đến cửa hàng bạn mong muốn làm việc: <a href="https://burgerking.vn/storepickup" data-lynx-mode="asynclazy" data-lynx-uri="https://l.facebook.com/l.php?u=https%3A%2F%2Fpopeyes.vn%2Fstore.html%2F%3Ffbclid%3DIwAR0wmFxPU5B9hGz7m6r7LR-xmcSiAwiySKf81dPUlFnxZNy4VN4kC6RNSAg&amp;h=AT3srmv71m9TkevhuH9OgkCYPjuOY1Ww7K0fhV9VVUwhhuUPIgYvOyxCyq0KAf8OpQ1oiEh1eKgyw9AsManZmvANWB9HweY-kdP5-advbUinJUtnk8wXyXwxAMEzjtLGVzSNRSZm">https://burgerking.vn/storepickup</a><br>
                                ➡️ Nộp hồ sơ tại Công Ty:  VP nhân sự Tầng 2, tòa nhà Corner Stone, số 16 Phan Chu Trinh, P. Phan Chu Trinh, Q. Hoàn Kiếm, Hà Nội
                            </p>
                            <p style="color: #ff0000; font-size: medium;"><b><i>2. Dành cho vị trí - Trợ lý/ Giám Sát Nhà Hàng:</i></b></p>
                            <p>
                                ➡️ Khu vực TP.HCM và Phú Quốc, nộp CV qua mail : <a href="mailto:van.lth@vfbs.vn">van.lth@vfbs.vn</a> <br>

                                ➡️ Khu vực TP.Hà Nội và Hải Phòng, nộp CV qua mail : <a href="mailto:trang.lth@vfbs.vn">trang.lth@vfbs.vn</a>
                                <br>
                            </p>
                            <p style="    font-size: 32px; color: #000080;"><b>** Lưu ý: NỘP HỒ SƠ & PHỎNG VẤN MIỄN PHÍ!</b></p>
                            <p></p>
                        </div>
                    </div>
                </div>
        </div>
    </main>
<footer>
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-12">
                    <div class="coppyright">
                        <div>Copyright 2015 Burger King Corporation.All Rights Reserved.</div>
                        <div class="levinci-introduce">
                            <a href="#" class="levinci-link">Designed by Levinci Group</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-12">
                    <div class="footer-link">
                        <ul class="link"><a href="#">Giới Thiệu</a></ul>
                        <ul class="link"><a href="#">Hướng Dẫn</a></ul>
                        <ul class="link"><a href="#">Liên Hệ</a></ul>
                        <ul class="link"><a href="#">Giới Thiệu</a></ul>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-2 col-12">
                    <div class="footer-facebook">
                            <span>
                                <a href="https://www.instagram.com/?hl=vi" target="_black"><img src="img/toan-home/instagram-icon.png" alt="instagram"></a>
                            </span>
                        <span>
                                <a href="https://www.facebook.com/" target="_black"><img src="img/toan-home/icon-facebook.png" alt="facebook"></a>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="transition">
        <img src="img/toan-home/Burgerking-Delivery-Desktop.png" alt="transition">
    </div>

</footer>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="js/jquery.js"></script>
<script src="js/carousel2/js/owl.carousel.min.js"></script>
</html>