<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Khuyenmai</title>

    <link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/nsm.css"/>
    <link rel="stylesheet" type="text/css" href="css/nsm2.css"/>
</head>
<body>
<main class="page-main" >
    <section class="section">
        <div class="container container1">
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="menu">
                            <li><a href="/home">Trang chủ</a></li>
                            <li style="color:black">/</li>
                            <li><a href="/khuyen-mai">Khuyến mãi</a></li>
                            <li style="color:black">/</li>
                            <li>MUA 1 TẶNG 1 - THỨ 5 HÀNG TUẦN</li>
                        </ul>

                            <h1 class="thursday-heading">MUA 1 TẶNG 1 – THỨ 5 HÀNG TUẦN</h1>


                            <p class="thursday-content">MUA 1 BURGER BÒ + 1 COKE – TẶNG NGAY 1 BURGER CÙNG LOẠI <br> Burger King gợi ý ưu đãi giá hấp dẫn – bụng no nê với chương trình MUA 1 TẶNG 1<br> ---------------<br> Áp dụng với sản phẩm: Whopper – Cheeseburger<br> Áp dụng với tất cả nhà hàng Burger King (trừ các nhà hàng tại sân bay) <br> Áp dụng dùng tại nhà hàng – mua mang về - giao hàng tận nơi <em><strong><br></strong></em></p>

                    </div>
                    <div class="col-md-6">

    <img class="img-responsive" src="img/nam/thursday.png"/>

                    </div>
                </div>
            </div>


            <h2 class="section-title-promotion text-center"> Đặt hàng ngay bây giờ  </h2>



            <div class="row">
                <div class="col-md-4">
                    <div class="image">
                        <a href="#">
                    <img class="img-responsive" src="img/nam/1.jpg"/>
                        </a>
                        <div class="product-title text-center">
                        <a href="#" >
                            Burger gà phô mai (b1g2) + coke
                        </a>
                        </div>
                        <p class="product-desc text-center">Mua 1 Burger Gà Phô Mai + Nước -- Tặng 1 bánh tùy chọn</p>
                        <h3 class="product-price text-center">63.000&nbsp;VND</h3>
                        <h3 class="product-price product-old-price text-center">107.000&nbsp;VND </h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image">
                        <a href="#">
                        <img class="img-responsive" src="img/nam/2.jpg"/>
                        </a>
                        <div class="product-title text-center">
                            <a href="#" >
                                Burger gà nướng (b1g2) + coke
                            </a>
                        </div>
                        <p class="product-desc text-center">Mua 1 Burger Gà Nướng + Nước -- Tặng 1 bánh tùy chọn</p>
                        <h3 class="product-price text-center">83.000&nbsp;VND</h3>
                        <h3 class="product-price product-old-price text-center">147.000&nbsp;VND </h3>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image">
                        <a href="#">
                        <img class="img-responsive" src="img/nam/3.jpg"/>
                        </a>
                        <div class="product-title text-center">
                            <a href="#" >
                                Burger gà giòn cay (b1g2) + coke
                            </a>
                        </div>
                        <p class="product-desc text-center">Mua 1 Burger Gà Giòn Cay + Nước -- Tặng 1 bánh tùy chọn</p>
                        <h3 class="product-price text-center">83.000&nbsp;VND</h3>
                        <h3 class="product-price product-old-price text-center">147.000&nbsp;VND </h3>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="image">
                        <a href="#">
                        <img class="img-responsive" src="img/nam/4.jpg"/>
                        </a>
                        <div class="product-title text-center">
                            <a href="#" >
                                Burger bò phô mai thịt xông khói (b1g2) + coke
                            </a>
                        </div>
                        <p class="product-desc text-center">Mua 1 Burger Bò Phô Mai Thịt Xông Khói + Nước -- Tặng 1 bánh</p>
                        <h3 class="product-price text-center">83.000&nbsp;VND</h3>
                        <h3 class="product-price product-old-price text-center">147.000&nbsp;VND </h3>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image">
                        <a href="#">
                        <img class="img-responsive" src="img/nam/5.jpg"/>
                        </a>
                        <div class="product-title text-center">
                            <a href="#" >
                                Burger bò whopper jr (b1g2) + coke
                            </a>
                        </div>
                        <p class="product-desc text-center">Mua 1 Burger Bò WHOPPER Jr + Nước -- Tặng 1 bánh tùy chọn</p>
                        <h3 class="product-price text-center">66.000&nbsp;VND</h3>
                        <h3 class="product-price product-old-price text-center">113.000&nbsp;VND </h3>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image">
                        <a href="#">
                        <img class="img-responsive" src="img/nam/6.jpg"/>
                        </a>
                        <div class="product-title text-center">
                            <a href="#" >
                                Burger bò whopper (b1g2) + coke
                            </a>
                        </div>
                        <p class="product-desc text-center">Mua 1 Burger Bò WHOPPER + Nước -- Tặng 1 bánh tùy chọn</p>
                        <h3 class="product-price text-center">124.000&nbsp;VND</h3>
                        <h3 class="product-price product-old-price text-center">229.000&nbsp;VND </h3>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="image">
                        <a href="#">
                        <img class="img-responsive" src="img/nam/7.jpg"/>
                        </a>
                        <div class="product-title text-center">
                            <a href="#" >
                                Burger bò phô mai (b1g2) + coke
                            </a>
                        </div>
                        <p class="product-desc text-center">Mua 1 Burger Bò Phô Mai + Nước -- Tặng 1 bánh tùy chọn</p>
                        <h3 class="product-price text-center">66.000&nbsp;VND</h3>
                        <h3 class="product-price product-old-price text-center">113.000&nbsp;VND </h3>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image">
                        <a href="#">
                        <img class="img-responsive" src="img/nam/8.jpg"/>
                        </a>
                        <div class="product-title text-center">
                            <a href="#" >
                                Burger bò nướng khoai tây lát (b1g2) + coke
                            </a>
                        </div>
                        <p class="product-desc text-center">Mua 1 Burger Bò Nướng Khoai Tây Lát + Nước -- Tặng 1 bánh tùy</p>
                        <h3 class="product-price text-center">66.000&nbsp;VND</h3>
                        <h3 class="product-price product-old-price text-center">113.000&nbsp;VND </h3>

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
</body>
</html>