<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Khuyenmai</title>

    <link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/nam.css"/>
</head>
<body>
<main class="page-main" >
<section class="section">
    <div class="container">
        <div class="content">
<div class="row">
    <div class="col-md-6">

        <div class="image">
            <a href="#">
<img class = "img-responsive" src="img/banner_promo_757x477_9.jpg"/>
            </a>
            <div class="caption">
            <a href="khuyen-mai/mua-1-tang-1-thu-nam" title="MUA 1 TẶNG 1 - THỨ 5 HÀNG TUẦN" >MUA 1 TẶNG 1 - THỨ 5 HÀNG TUẦN</a>
            </div>
        </div>

    </div>
    <div class="col-md-6">

        <div class="image">
            <a href="#">
<img class = "img-responsive" src="img/banner_promo-min_1.jpg"/>
            </a>
            <div class="caption">
                <a href="khuyen-mai/so-tay" title="Tặng Sổ Tay &quot;BÍ KÍP&quot;">Tặng Sổ Tay "BÍ KÍP"</a>
            </div>
        </div>
    </div>
</div>
            <div class="row" style="margin-top:40px">
                <div class="col-md-6">

                    <div class="image">
                        <a href="#">
                        <img class = "img-responsive" src="img/banner-promo-min.jpg"/>
                        </a>
                        <div class="caption">
                            <a href="khuyen-mai/combo-de-khang" title="Combo Đề Kháng">Combo Đề Kháng</a>                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
</main>
</body>
</html>