<!DOCTYPE html>
<html lang="en">
<%- include("head1")%>
<body>
<section class="section">
    <div class="container">
        <div class="hop1">
            <h1>Xin chào quý khách</h1>
        </div>
    </div>
</section>
</body>
</html>