<!DOCTYPE html>
<html lang="en">
<%- include("head1")%>
<body>
<section class="section">
    <div class="container">
        <% sps.map(function (e) {
            //chỗ này phải lồng html%>
        <li><a href="/san-pham/<%= e.id %>" target="_blank"><%= e.label %></a></li>
        <% })%>
        </ul>
    </div>
</section>
</body>
</html>