<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="js/carousel2/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="js/carousel2/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/fontawesome/css/all.css">
    <link rel="stylesheet" type="text/css" href="css/toan-home.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:300,400,500,700,600">
    <title>burgerking</title>
</head>
<body>
    <div class="header">
        <div class="container-fluid bg-header">
            <div class="container" id="fixcontainer">
                <div class="row">
                    <div class="col-md-6 col-sm-7 col-7" style="display: flex;justify-content: space-between;">
                        <div class="js-toggle-menu hide">
                            <span></span>
                        </div>
                        <div class="logo">
                            <a href="home"><img src="img/toan-home/logo.png" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-5 col-5" style="display: flex;justify-content: flex-end; ">
                        <ul class="nav-bar">
                            <li class="ext hide">
                                <i class="fas fa-times"></i>
                            </li>
                            <li class="promotion">
                                <div><a href="khuyen-mai">Khuyễn Mãi</a></div>
                            </li>
                            <li class="menu">
                                <div><a href="menu/monmoi">Thực Đơn</a></div>
                            </li>
                            <li class="shop">
                                <div><a href="shop">Cửa Hàng</a></div>
                            </li>

                        </ul>
                        <div class="cart">
                            <div>
                                <span><i class="fas fa-shopping-cart"></i></span>
                                <span>Giỏ Hàng</span>
                                <span>0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- owl-stage- -->
        <div class="top-nav-carousel">
            <div class="container">
                <div class="owl-carousel owl-theme" id="slider-list">
                    <div class="item"><a href="menu/monmoi" class="owl-stage-item">
                            <div><img src="img/toan-home/anh1.png" alt="Mon moi">Món Mới</div>
                        </a></div>
                    <div class="item"><a href="menu/burger" class="owl-stage-item">
                            <div><img src="img/toan-home/anh2.jpg" alt="Burger">Burger</div>
                        </a></div>
                    <div class="item"><a href="menu/combo" class="owl-stage-item">
                            <div><img src="img/toan-home/anh3.jpg" alt="Combo">Combo</div>
                        </a></div>
                    <div class="item"><a href="menu/garan" class="owl-stage-item">
                            <div><img src="img/toan-home/anh4.jpg" alt="Gà Rán">Gà Rán</div>
                        </a></div>
                    <div class="item"><a href="menu/comvua" class="owl-stage-item">
                            <div><img src="img/toan-home/anh5.png" alt="Cơm Vua">Cơm Vua</div>
                        </a></div>
                    <div class="item"><a href="menu/monankem" class="owl-stage-item">
                            <div><img src="img/toan-home/anh6.png" alt="Món Ăn Kèm">Món Ăn Kèm</div>
                        </a></div>
                    <div class="item"><a href="menu/thucuong" class="owl-stage-item">
                            <div><img src="img/toan-home/anh7.jpg" alt="Thức Uống">Thức Uống</div>
                        </a></div>
                </div>
                <div class="scroll-top">
                    <img src="img/toan-home/Top-icon.png" alt="scroll-top">
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="owl-carousel owl-theme" id="slider-banner">
            <div class="item"><img src="img/toan-home/banner1.jpg" alt="banner"></div>
            <div class="item"><img src="img/toan-home/banner2.jpg" alt="banner"></div>
            <div class="item"><img src="img/toan-home/banner3.jpg" alt="banner"></div>
            <div class="item"><img src="img/toan-home/banner4.jpg" alt="banner"></div>
        </div>
    </div>
    <section class="section-step-order-online">
        <div class="container">
            <div class="start">
                <a href="khuyen-mai"><button>Khuyễn Mãi</button></a>
                <a href="menu/monmoi"><button>Đặt Hàng</button></a>
            </div>

        </div>
    </section>
    <footer>
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-12">
                        <div class="coppyright">
                            <div>Copyright 2015 Burger King Corporation.All Rights Reserved.</div>
                            <div class="levinci-introduce">
                                <a href="#" class="levinci-link">Designed by Levinci Group</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-12">
                        <div class="footer-link">
                            <ul class="link"><a href="about-us">Giới Thiệu</a></ul>
                            <ul class="link"><a href="">Hướng Dẫn</a></ul>
                            <ul class="link"><a href="#">Liên Hệ</a></ul>
                            <ul class="link"><a href="#">Giới Thiệu</a></ul>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-12">
                        <div class="footer-facebook">
                            <span>
                                <a href="https://www.instagram.com/?hl=vi" target="_black"><img src="img/toan-home/instagram-icon.png" alt="instagram"></a>
                            </span>
                            <span>
                                <a href="https://www.facebook.com/" target="_black"><img src="img/toan-home/icon-facebook.png" alt="facebook"></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="transition">
            <img src="img/toan-home/Burgerking-Delivery-Desktop.png" alt="transition">
        </div>

    </footer>
</body>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="js/jquery.js"></script>
<script src="js/carousel2/js/owl.carousel.min.js"></script>

<script>
    $('#slider-banner').owlCarousel({
        autoplay: true, // tự động chuyển slider
        loop: true,
        items: 1,
        nav: true, // hiện thị bật tắt nút next,back
        dots: true,
        lazyLoad: true,
        slideBy: 1,
        lazyLoadEager: 4,
        lazyLoad: true,
        autoHeight: true,
        autoplayTimeout: 15000,
        navText: [
            '<i class="fas fa-chevron-circle-left"></i>',
            '<i class="fas fa-chevron-circle-right"></i>'



        ] /// nút next,back

    });

    
            // header - slider

    $('#slider-list').owlCarousel({
        margin: 10,
        autoWidth: false,
        items: 9,
        loop: false,
        autoplay: false,
        autoplayTimeout: 5000,
        nav: true,
        dots: false,
        navText: [
            '<img src="img/toan-home/icon-arrow-left.png">',
            '<img src="img/toan-home/icon-arrow.png">',
        ],
        responsive: {
            320: {
                items: 2
            },
            // breakpoint from 480 up
            480: {
                items: 3
            },
            // breakpoint from 768 up
            768: {
                items: 5
            },
            // breakpoint from 1024 up
            1024: {
                items: 9
            }
        }
    });


</script>
<script>
        // header
$('.scroll-top').click(function () {
    $("html, body").animate({scrollTop: 0}, 600);
    return false;
});
$(".js-toggle-menu").on("click",hien)
function hien() {
    $(".promotion").addClass("active");
    $(".menu").addClass("active");
    $(".shop").addClass("active");
    $(".ext").removeClass("hide");
}
$(".ext").on("click",an)
function an() {
    $(".promotion").removeClass("active");
    $(".menu").removeClass("active");
    $(".shop").removeClass("active");
    $(".ext").addClass("hide");
}
$(window).resize(function () {
if ($(window).width()>=1090) {
    if ($(".shop").hasClass("active")) {
        $(".ext").addClass("hide");
    }
}else{
    if ($(".shop").hasClass("active")) {
        $(".ext").removeClass("hide");
    }
}
})
</script>

</html>
