*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif !important;
    color: #212121;
    font-size: 14px;
    line-height: 1.5;
}
.instruction-page .row {
    background-color: #f8f7f5;
    margin-top: 50px;
    margin-left: 0px;
    border-radius: 10px;
}
.instruction-page .row .step-btn {
    position: absolute;
    height: 5%;
    font-size: 22px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f17a00;
    margin-left: 1%;
    border: 0;
    width: 6%;
    color: white;
    font-weight: bold;
}

.instruction-page .row .step-1-content {
    margin-top: 30px;
    margin-left: 9%;
}
.instruction-page .row .step-2-content {
    margin-top: 30px;
    margin-left: 9%;
}
.instruction-page .row .step-3-content {
    margin-top: 30px;
    margin-left: 9%;
}
.instruction-page .row .step-4-content {
    margin-top: 30px;
    margin-left: 9%;
}
.instruction-page .row .step-5-content {
    margin-top: 30px;
    margin-left: 9%;
}
.instruction-page .row .step-6-content {
    margin-top: 30px;
    margin-left: 9%;
}
.instruction-page .row .step-1-content > span {
    text-transform: uppercase;
}
strong {
    font-weight: bold;
}
.instruction-page .row .step-1-content .burger-url {
    color: #0073bc;
    font-weight: bold;
}
button {
    font-family: "Roboto", sans-serif;
    color: #212121;
    font-size: 14px;
    line-height: 1.5;
    background-color: #EF7900;
    transition: all .4s;
    touch-action: manipulation;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-rendering: auto;
}
.instruction-page .row .icon-custom {
    width: 12%;
    display: unset;
    border: 0;
    background-color: #ec7902;
}
.btn.btn-primary{
    background-color: #EF7900;
    font-size: 15px;
    color: white;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    text-align: center;
    border: 0;
    transition: all .2s ease-in-out;
    padding: 5px;
}
.btn.btn-primary:hover{
    background-color: #ef7900bf;
}
.instruction-page .last-mess {
    padding: 1%;
    background-color: #c21c1e;
    width: 65%;
    text-align: center;
    margin: 0 auto;
    border-radius: 25px;
    margin-top: 3%;
}
.header{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}
.header{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}
#fixcontainer{
    max-width: 90% !important;
}
.active{
    display: block!important;
}
.hide{
    display: none;
}
.bg-header{
    background: url(../img/toan-home/bg-header-bottom.png);
    max-height: 75px;


}
.logo{
    max-width: 110px;
    display: flex;
    align-items: center;
    height: 100px;
    margin: -15px 0 -20px;

}
.logo img{
    width: 100%;
}
.top-nav-carousel{
    background: url(../img/toan-home/BG-nav-bar-2.png);
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;
}
.nav-bar li{
    list-style: none;
    padding: 20px 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    transition: all .4s;
    font-size: 16px;
}
.promotion div a{
    color: white;
    text-decoration: none;
}
.menu div a{
    color: white;
    text-decoration: none;
}
.shop div a{
    color: white;
    text-decoration: none;
}
.nav-bar li div a:hover{
    color: #014c8c;
    cursor: pointer;
}
.nav-bar li i:hover{
    color: #014c8c;
    cursor: pointer;
}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart div{
    background: url(../img/toan-home/bg-btn-white.png);
    padding: 20px 20px;
    cursor: pointer;
}
.cart div:hover{
    opacity: 0.85;
}
.cart div{
    color: #f17a00;
}
.cart div span:last-child{
    border: 2px solid #f17a00;
    padding:  0 5px;
}
.footer{
    background: #522e1deb;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 0;
}
.link{
    display: inline-block;
    padding: 10px 20px ;
    margin: 0 10px;
}
.link a{
    text-decoration: none;
    color: #baa699;

}
.coppyright{
    color: #baa699;
}
.coppyright div:first-child{
    padding: 10px 0 0 0;

}
.footer-facebook{
    display: flex;
    justify-content: flex-end;
}
.footer-facebook span{
    color: #baa699;
    padding: 5px 5px ;
    display: inline-block;
}
.levinci-introduce{
    display: block;
    margin: 0 15px;
}
.levinci-link{
    margin-left: 15px;
    color: #baa699;
    font-size: 10px;
}
.levinci-link:hover{
    color: #baa699;
    text-decoration: none;
}
.transition{
    position: fixed;
    bottom: 85px;
    right: 0;
    z-index: 2;
}
.transition img{
    width: 100%;
}


/* thanh scroll */
.scroll-top{
    position: fixed;
    bottom: 150px;
    right: 50px;
    cursor: pointer;
}
.scroll-top img{
    width: 80%;
    border-radius: 50%;
    border: 1px solid white;
}
.scroll-top img:hover{
    border: 1px solid #777777;
}
