*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* start-header */
.header{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}
#fixcontainer{
    max-width: 90% !important;
}
.active{
    display: block!important;
}
.hide{
    display: none;
}
.bg-header{
    background: url(../img/toan-home/bg-header-bottom.png);
    max-height: 75px;


}
.logo{
    max-width: 110px;
    display: flex;
    align-items: center;
    height: 100;
    margin: -15px 0 -20px;

}
.logo img{
    width: 100%;
}
.top-nav-carousel{
    background: url(../img/toan-home/BG-nav-bar-2.png);
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;
}
.nav-bar li{
    list-style: none;
    padding: 20px 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    transition: all .4s;
    font-size: 16px;
}
.promotion div a{
    color: white;
    text-decoration: none;
}
.menu div a{
    color: white;
    text-decoration: none;
}
.shop div a{
    color: white;
    text-decoration: none;
}
.nav-bar li div a:hover{
    color: #014c8c;
    cursor: pointer;
}
.nav-bar li i:hover{
    color: #014c8c;
    cursor: pointer;
}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart div{
    background: url(../img/toan-home/bg-btn-white.png);
    padding: 20px 20px;
    cursor: pointer;
}
.cart div:hover{
    opacity: 0.85;
}
.cart div{
    color: #f17a00;
}
.cart div span:last-child{
    border: 2px solid #f17a00;
    padding:  0 5px;
}
/* end-header */

#map{
    width: 100% ;
    float: left;
    height: 500px ;

}
h1{
    text-align: center;
}
h2{
    color: red;
}
.list{
    margin-top: 50px;
    width: 100%;
    float: left;
    margin-left: 0px;
    margin-bottom: 100px;
}
.box1{
    border: solid 1px lightpink;
    padding: 20px;
    list-style: none;
    background-color: whitesmoke;
}


/* start -slider */
.main{
    margin-top: 161px;
}
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.owl-stage-item div{
    display: block;
    width:  120px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 700;
    color: black;
    transition:  all .4s;
}
.owl-stage-item{
    text-decoration: none;
    color: black;
    font-weight: 600;

}
#slider-list{
    display: flex;
    justify-content: center;
    position: inherit;

}
.owl-stage-item:hover{
    text-decoration: none;
    color: black;

}
.owl-stage-item  div img{

    width: 100%;
    display: block;
    max-width: 58px;
    min-height: 58px;
    border-radius: 50%;
    background-size: cover;
    box-shadow: 2px 2px 9px 1px #ececec;
    -webkit-box-shadow: 2px 2px 9px 1px #ececec;
    margin: 5px auto;
    margin-bottom: 20px;
    margin: 5px auto;
}
.owl-stage-item div:hover{
    color: #f17a00;
}
.owl-carousel{
    position: relative;

}
.owl-nav>button{
    outline: none;
    border: none;
}
.owl-prev{
    position: absolute;
    left: 0;
    top: 45%;
    background: none !important;
}
.owl-next{
    position: absolute;
    right:0;
    top: 45%;
    background: none !important;
}
.owl-prev i{
    font-size: 40px;
}
.owl-next i{
    font-size: 40px;
}
.owl-dots{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 46%;
}
.owl-dot{
    zoom: 1.5 !important;
}
.owl-dot:focus{
    outline: none;
    border: none;
}
/* end -slider */




/* start Khuyen Mai $ dat hang */
.start{
    padding: 50px 0;
    display: flex;
    justify-content: center;
}
.start a button{
    background-image: url(../img/toan-home/bg-btn-primary.png);
    color: white;
    min-width: 250px;
    padding: 15px;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    outline: none;
    margin: 0 50px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;

}
.start a button:focus{
    outline: none;
    border: none;
}
/* end Khuyen Mai $ dat hang */



/* start-footer */
.footer{
    background: #522e1deb;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 0;
}
.link{
    display: inline-block;
    padding: 10px 20px ;
    margin: 0 10px;
}
.link a{
    text-decoration: none;
    color: #baa699;

}
.coppyright{
    color: #baa699;
}
.coppyright div:first-child{
    padding: 10px 0 0 0;

}
.footer-facebook{
    display: flex;
    justify-content: flex-end;
}
.footer-facebook span{
    color: #baa699;
    padding: 5px 5px ;
    display: inline-block;
}
.levinci-introduce{
    display: block;
    margin: 0 15px;
}
.levinci-link{
    margin-left: 15px;
    color: #baa699;
    font-size: 10px;
}
.levinci-link:hover{
    color: #baa699;
    text-decoration: none;
}
.transition{
    position: fixed;
    bottom: 85px;
    right: 0;
    z-index: 2;
}
.transition img{
    width: 100%;
}


/* thanh scroll */
.scroll-top{
    position: fixed;
    bottom: 150px;
    right: 50px;
    cursor: pointer;
}
.scroll-top img{
    width: 80%;
    border-radius: 50%;
    border: 1px solid white;
}
.scroll-top img:hover{
    border: 1px solid #777777;
}
/* thanh scroll */

/* end footer */



/* start-header-nav-bar */

@media screen and (max-width: 1280px){
    .nav-bar{
        display: none;
    }

    #slider-list .owl-nav button{
        top: 60%;
    }
    #slider-list .owl-nav button img{
        width: 70%;
    }
}
/* end-header-nav-bar */

/* transition-footer */

@media screen and (max-width: 620px){
    .transition{
        bottom: 200px;
    }
    .link{
        font-size: 12px;
    }
    .coppyright{
        font-size: 12px;
    }
}
/* transition-footer */

@media screen and (max-width: 991px){
    /* start-nav-bar  */
    .nav-bar{
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        background: #f17a00;
        width: 100%;
        z-index: 2;
    }
    .nav-bar li{
        padding: 10px 20px;
        font-size: 20px;
        border-top: 1px solid white;
        font-weight: 900;

    }
    .nav-bar li:first-child{
        border-top: none;
    }
    .nav-bar li div{
        transition: all .4s;
    }
    .nav-bar i{
        font-size: 25px;
    }
    .logo{
        max-width: 55px;
    }
    .cart div{
        padding: 10px 15px;
        margin-bottom: 5px;
    }
    .cart div span:nth-child(2){
        display: none;
    }
    .js-toggle-menu {
        color: white;
        width: 26px;
        padding-top: 25px;
        cursor: pointer;
        display: block;
    }
    .js-toggle-menu span{
        position: relative;
        height: 4px;
        background: #fff;
        display: block;

    }
    .js-toggle-menu span::after{
        content: "";
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 4px;
        background: #fff;
        top: 100%;
        margin-top: 5px;
    }
    .js-toggle-menu span::before{
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        height: 4px;
        background: #fff;
        bottom: 100%;
        margin-bottom: 5px;
    }
    .promotion{
        display: none;
    }
    .menu{
        display: none;
    }
    .shop{
        display: none;
    }
    /* end-nav-bar  */


    /* main */
    /* start-buttom next $ prev */
    .owl-prev{
        width: 30px;
        top: 40%;
    }
    .owl-next  {
        width: 30px;
        top: 40%;
    }
    .owl-next img {
        width: 100%;
    }
    .owl-prev img {
        width: 100%;
    }
    .owl-prev i{
        font-size: 30px;
    }
    .owl-next i{
        font-size: 30px;
    }
    .owl-dots{
        position: absolute;
        bottom: 0;
        right: 43%;
    }
    .owl-dot{
        zoom: 1 !important;
    }
    .owl-nav{
        display: block;
        cursor: pointer;
    }
    .scroll-top{
        right: 20px;
    }
    .scroll-top img{
        width: 60%;

    }
    /* main */
    /* end-buttom next $ prev */


    /* button khuyen mai$ giam gia */
    .start a button{
        min-width: 150px;
        font-size: 15px;
        margin: 0 10px;
    }
    /* button khuyen mai$ giam gia */


    /*  start-fotter */
    .footer .container-fluid .row {
        display: flex;
        flex-direction: column-reverse;
    }
    .footer .container-fluid .row div{
        display: flex;
        justify-content: center;
    }
    .transition{
        bottom: 150px;
        width: 150px;
    }
    .scroll-top{
        bottom: 200px;
    }
    #slider-list .owl-nav button{
        top: 60%;
    }
    /*  end-fotter */
}
.page-main{
    margin-top: 200px;
}
.button{
    float: left;
    text-align: left;
    list-style: none;
    border: whitesmoke;
    background-color: whitesmoke;
    outline: none;
}
