body{
    background-color:#f0ebe5;


}
@font-face { font-family: 'block-pro'; src: url("../fonts/block-pro.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'sfudinengalt'; src: url("../fonts/sfudinengalt.woff") format("woff"); font-weight: normal; font-style: normal; }

.page-main
{
    margin-top:190px;
    margin-bottom:100px;
    font-family: "sfudinengalt", "Helvetica Neue", Verdana, Arial, sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container1{
    width:1000px;
}

.caption{
padding:20px 0;
    font-size:25px;
}
.caption a{
    text-decoration: none;
    font-weight: 700;
}
.caption a:hover
{
    color: #ffb66f;
}
.image img:hover{
    opacity:0.6;
    transition: all .4s;
}
.km
{
    transition: transform .2s; /* Animation */

}
.km:hover
{
    transform: scale(1.1);
}
a {
    color: #f47d02;


    text-decoration: none;
}
a {
    background-color: transparent;

}
.menu li{
    display: inline-block;
}
.menu a:hover{
    color: #f47d02;
    transition: all .4s;
}
.image{
    position:relative;
}
.btn
{   width:200px;
    height:40px;
    position:absolute;
    left:calc(50% - 100px);
    bottom:20px;
    background-color:#f47d02 ;
    border-radius: 0;
}
.glyphicon {
    font-size: 20px;
    color:white;
}
#popup
{   height:380px;
    background-color:white ;
    border-radius: 20px;
    position:fixed;
    top:calc(50% - 300px);
    left:calc(50% - 450px);
    opacity:0;
    z-index:-1;
    transition: all 300ms;
}
#bg-fade{
    background-color: #0f0f0f;
    position:fixed;
    opacity: 0;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: -2;
    transition: all 300ms;
}
#popup img
{
    margin:50px 40px;
}
.section-title {
    color: #f17a00;
}
.describe {
    font-size: 16px;
    line-height: 18px;
    color: #00000085;
    letter-spacing: .075em;
    margin: 0;
    height: 36px;
    overflow: hidden;
}
