body {
    background: url(../img/nam/bg-new-products.png);
    font-family: "Roboto", sans-serif;

}
.menu li{
    display: inline-block;
    padding-right:10px;
}
.menu li {
    font-size: 16px;
    color: #ff6600;
}
.menu li a{
    color: #000;
    text-decoration: none;
}
.thursday-heading {
    font-family: "block-pro", "Helvetica Neue", Verdana, Arial, sans-serif;
    color: #000;
    font-size: 39px;
}
h1 {
    margin: 0;
    margin-bottom: 0.7em;
    color: #f17a00;
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2;
    text-transform: uppercase;
}
.thursday-content {
    margin-top: 5%;
    line-height:2;
    font-size:17px;
}
.section-title-promotion
{

    letter-spacing: 0.025em;
    font-size: 24px;
    margin-top:50px;
    margin-bottom:70px;
    font-weight: 700;

    text-align: center;
    background: #ff6600;
    color: #fff;
    padding: 6px;
}
.image img
{
    margin: 0 auto;
}
.image{
    background:white;
    padding: 10px 10px ;
    margin:0 auto;
    margin-bottom:20px;
    height:470px;
    width:300px;
}
.img-cart
{
    height:530px;
}

.product-title
{
    padding-top:10px;
margin:5px 0;
    height:50px;

}
.product-title a {
    color:black;
    text-decoration: none;
    font-size: 22px;
    line-height: 18px;
    display: block;
    font-weight: 700;
}
.product-title a:hover{
color:#f17a00;

}
.product-desc {
    font-size: 16px;
    line-height: 18px;
    color: #00000085;
    letter-spacing: .075em;
    margin: 0 auto;
    height: 36px;
    overflow: hidden;
    width:250px;

}
.product-price {
    color: #c31c1c;
    font-size: 24px;
    font-weight:700;
}
h3, .h3 {
    margin: 0;
    margin-bottom: 10px;
    color: #212121;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
}
.product-old-price {
    color: #00000085;
    text-decoration: line-through;
    margin-top: -10px;
    font-size: 20px;
}